.buttonImage {
  background-color: transparent;
}

.button0 {
  border: 2px solid white;
  border-bottom: 4px solid white;
  background-color: var(--blue1);
  color: var(--blue2);
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  
  &:hover {
    color: var(--blue0);
    background-color: var(--yellow1);
  }

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.topBar {
  .title {
    text-align: center;
    font-weight: 600;
    
    @media (min-width: 768px) {
      text-align: left;
      font-size: 32px;
    }
  }
  
  margin-bottom: 16px;
}

.bottomBar {
  text-align: center;
}

.resumeInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 400px;
  
  .addBtn {
    border-radius: 8px;
    display: flex;
    height: fit-content;
    padding: 4px;
    flex-shrink: 0;
    width: fit-content;
  }
 
  .addBtn {
    background-color: var(--blue3);
    border: 2px solid white;
    
    &:hover {
      background-color: var(--green0);
    }
    
    img {
      width: 16px;
      height: 16px;
    }
  }
  
  .inputList, .fieldDisplay {
    border-radius: 8px;
    background-color: var(--blue0);
    padding: 8px;
  }
  
  .inputList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    
    button {
      padding: 8px;
      &.selected {
        color: var(--blue0);
        background-color: var(--yellow1);
      }

      @media (min-width: 768px) {
        padding: 12px 16px;
      }
    }
  }
  
  .fieldDisplay {
    padding: 8px 16px;
    @media (min-width: 768px) {
      padding: 8px 32px;
    }

    .header {
      display: flex; 
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    img {
      width: 32px;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
    }
    
    h2 {
      text-align: center;
      color: var(--blue2);
      font-size: 24px;
      font-weight: 600;
      
      @media (min-width: 768px) {
        font-size: 32px;
      }
    }
  }
}

.generic {
  color: var(--blue2);
  display: flex;
  flex-direction: column;
  
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text */
  .info {
    font-family: "JosefinSansIt";
    h3 {
      font-size: 18px;
      word-break: break-all;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
    
    p.duration {
      font-weight: 200;
      font-size: 16px;
      opacity: 0.8;
      
      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
    
    p.position {
      font-weight: 400;
      opacity: 0.9;
      
      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .btnAddNew {
    padding: 8px 32px;
    margin-left: auto;
    width: fit-content;
  } 

  .skillsWrap {
    display: flex;
    align-items: center;
    flex-grow: 1; 
  }
  
  .deleteBtn, .editBtn {
    border-radius: 8px;
    display: flex;
    height: fit-content;
    padding: 4px;
    flex-shrink: 0;
    width: fit-content;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .deleteBtn {
    background-color: var(--red0);
  }

  .editBtn {
    background-color: var(--green0);
  }
  
  ul.genericEntryList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      display: flex;
      gap: 8px;
      .deleteEdit {
        flex-shrink: 0;
        display: flex;
        gap: 4px;
      }
    }
  }
  
  ul.achievements > li {
    font-weight: 300;
    display: list-item;
    list-style-type: circle;
    margin-left: 16px;
  }
}

form.resumeForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  input, textarea, select {
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 1px 1px 4px #888;
    border: 2px solid black;
  }
  
  textarea {
    resize: none;
  }
  
  label {
    font-family: "JosefinSansIt";
    color: var(--blue2);
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  
  .cancelok {
    display: flex;
    gap: 16px;
    .cancel, .ok {
      padding: 8px;
    }
    
    .cancel {
      &:hover {
        background-color: var(--red0);
      }
    }
    
    .ok {
      &:hover {
        background-color: var(--green0);
      }
    }
  }
  
  .experienceYear {
    display: flex;
    gap: 16px;
    
    .resumeInputField {
      flex-grow: 1;
    }
  }
  
  .resumeInputField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    ul {
      font-family: "JosefinSansIt";
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        margin-left: 8px;
        display: flex;
        gap: 4px;
        button {
          flex-shrink: 0;
          align-self: start;
          background-color: var(--red0);
          border-radius: 8px;
          img {
            width: 20px;
            height: 20px;
          }
        }
        p {
          word-break: break-all;
          font-weight: 300;
        }
      }
      color: var(--blue2);
    }
    
    .achievementInput {
      display: flex;
      align-items: center;
      gap: 8px;
      
      input {
        flex-grow: 1;
      }
    }
  }
}

.levelCircles {
  display: flex;
  gap: 4px;
  margin-left: auto;
  .levelCircle {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.4);

    @media (min-width: 768px) {
      width: 8px;
      height: 8px;
    }
    
    &.enabled {
      background-color: var(--green0);
    }
  }
}

.resumeDisplay {
  display: flex;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "JosefinSansIt";

  .displayHeader {
    img {
      width: 20px;
      @media (min-width: 768px) {
        width: 26px;
      }
    }

    h2 {
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }

    background-color: var(--blue1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
    margin-bottom: 8px;
  }

  .leftSide, .rightSide {
    flex-grow: 1;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-basis: 50%;

    @media (min-width: 768px) {
      padding: 48px;
      gap: 16px;
    }
  }

  .leftSide {
    flex-shrink: 0;
    background-color: var(--blue0);
    color: var(--blue2);
  }

  .rightSide {
    color: #222222;
    .displayHeader {
      background-color: #EEEEEE;
    }
  }
}

.generalDisplay {
  > div {
    .name {
      font-weight: 700;
      font-size: 18px;
      @media (min-width: 768px) {
        font-size: 30px;
      }
    }

    .occupation {
      font-weight: 200;
      opacity: 0.9;
      font-size: 16px;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    
    margin-bottom: 16px;
  }

  > ul {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;

    @media (min-width: 768px) {
      font-size: 16px;
    }
    
    li {
      display: flex;
      gap: 8px;
      align-items: start;
    }

    img {
      width: 16px;
      aspect-ratio: 1;

      @media (min-width: 768px) {
        width: 24px;
      }
    }
  }
}

.educationDisplay {
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      h3 {
        font-weight: 400;
        font-size: 16px;

        @media (min-width: 768px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 200;
        @media (min-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}

.skillsDisplay {
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
}

.profileDisplay {
  font-size: 12px;
  @media(min-width: 768px) {
    font-size: 16px;
  }
}

.workDisplay {
  .workList {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      display: flex;
      gap: 16px;

      .year {
        flex-shrink: 0;
        font-size: 12px;

        @media (min-width: 768px) {
          font-size: 16px;
        }

        p {
          font-weight: 300;
          text-align: center;
        }

        p:nth-child(2) {
          font-weight: 600;
        }
      }

      .verticalBar {
        border: 1px solid #ffe8b7;
      }

      .desc {
        .workName {
          font-size: 16px;
        
          @media (min-width: 768px) {
            font-size: 18px;
          }
        }

        .workPos {
          color: #555;
          font-size: 12px;
        
          @media (min-width: 768px) {
            font-size: 16px;
          }

        }
      }
    }
  }

  .achievementList {
    margin-top: 8px;
    list-style-type: circle;
    padding-left: 16px;
    li {
      display: list-item;
      font-weight: 350;
      font-size: 12px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
