html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/font/Exo_2/Exo2-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../assets/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JosefinSansIt";
  src: url("../assets/font/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
}

:root {
  font-family: "JosefinSans";
  
  --blue0: #4e4f64;
  --blue1: #5b5476;
  --blue2: #e3edf4;

  --yellow0: #f3e489;
  --yellow1: #dbb979;

  --red0: #ed706c;
  
  --green0: #7bed6d;  
/*
  background-color: var(--blue0);
  color: var(--yellow0);*/
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  overflow-wrap: break-word;
  word-break: break-all;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  
  transition-timing-function: ease;
  transition-duration: 200ms;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
